.menu_board{
    background-color: black;
    height: 60px;
    width: 1000px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: lightgray;
}

#logo{
    height: 50px;
}

ul{
    list-style: none;
    /*
    ul有初始属性。所以每次有ul都要加上这个
     */
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: gray;
}

#menu{
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.menu_li{
    position: relative;

    text-align: center;
    width: 200px;
}

.detail{
    background-color: black;
    opacity: 0.8;
    position: absolute;

    width: 100%;

    z-index: 20;

    padding-top: 20px;
}

.detail li{
    color: white;
    padding: 20px;
    text-align: left;
}

.detail li:hover{
    background-color: gray;
}

#right{
    display: flex;
}

#lang{
    /*background-color: skyblue;*/
    width: 100px;
}

#lang a{
    color: gray;
    text-decoration: none;
}

#lang text:hover{
    color: #2a86c9;
}

#media{
    /*background-color: skyblue;*/
    width: 80px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#media img{
    height: 20px;
}

.title_container{

    background-color: #ece9e9;

    padding: 20px;
    height: 200px;

    display: flex;
    align-items: center;
}

.title{
    margin-left: 300px;
    /*
    transform: translateY(50%);
    background-color: #2a86c9;
     */
    height: 100px;
    font-weight: bold;
    font-size: 60px;

    display: flex;
    align-items: baseline;
}

.content{
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.artists{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    row-gap: 20px;
    column-gap: 30px;
}

.artist{
    width: 300px;
    height: 300px;

    text-align: center;
    font-size: 20px;
}

.artist div{
    width: 300px;
    height: 230px;
    overflow: hidden ;
}

.artist img{
    width: 300px;
    height: 230px;

    transition: all 0.6s linear;
}

.artist img:hover{
    transform: scaleX(1.4) scaleY(1.4);
    transition: all 0.6s linear;
}

.bottom{
    background-color: gray;
    height: 50px;
}